<ion-header>
  <ion-toolbar>
    <ion-title>
      Sensor 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let data of iotService.cpuData">
    <ion-card-header>
      <ion-card-subtitle>{{data.date}}</ion-card-subtitle>
      <ion-card-title>CPU temperature sensor</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Temperature: {{data.temperature}} °C <br>
    </ion-card-content>
    <ion-button (click)="iotService.refreshCPU()" style="margin: 5%;" color="primary">Refresh</ion-button>
  </ion-card>
  <ion-text class="ion-text-center" color="primary">
      <h1>Old Data</h1>
    </ion-text>
  <div *ngFor="let data2 of iotService.data.slice().reverse(); let i=index">
      <ion-card *ngIf="i<11 && i>0"> 
        <ion-card-header>
          <ion-card-subtitle>{{data2.date}}</ion-card-subtitle>
          <ion-card-title> {{i}}. CPU temperature sensor</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Temperature: {{data2.temperature}} °C <br>
        </ion-card-content>
        
      </ion-card>
  </div>

</ion-content>