<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="analytics"></ion-icon>
      <ion-label>Overview</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="thermometer"></ion-icon>
      <ion-label>Temperature & Humidity</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="outlet"></ion-icon>
      <ion-label>Cpu temperature</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>